.DescriptionBox-title {
  background-color: #999;
  color: white;
  padding: 0 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  width: 250px;
  height: 40px;
  line-height: 40px;
  padding-left: 40px;
  margin-bottom: 10px; /* ← 下に20pxの余白を追加 */
}


.description-box {
  width: 700px;
  max-width: 700px;
  margin: 0 auto 16px auto;
  background: #e0e0e0;
  border-radius: 12px;
  min-height: 36px;
  padding: 16px 20px;
  color: #333;
  font-size: 1rem;
  box-sizing: border-box;
}
