.ProjectStampRally-detail-table {
  width: 95%;
  max-width: 760px;

  margin: 0 auto 0px;

  padding: 15px;

  background: linear-gradient(
    180deg,
    #f4f8ff,
    #e8f1ff
  );

  border-radius: 5px;
  box-sizing: border-box;

  box-shadow:
    0 6px 18px rgba(134,167,255,.12);
}

/* =====================================
   行
===================================== */

.ProjectStampRally-detail-row {
  display: flex;
  align-items: center;

  gap: 20px;

  padding: 6px 0;
}

/* =====================================
   左ラベル
===================================== */

.ProjectStampRally-detail-label {
  width: 100px;
  height: 40px;

  flex-shrink: 0;

  display: flex;
  align-items: center;
  justify-content: center;

  gap: 8px;

  color: #fff;

  font-size: 13px;
  font-weight: 700;

  border-radius: 5px;

  background: linear-gradient(
    90deg,
    #86a7ff,
    #6f8dff
  );

  box-shadow:
    0 3px 8px rgba(111,141,255,.18);
}

.ProjectStampRally-detail-icon {
  font-size: 16px;
}

/* =====================================
   右側
===================================== */

.ProjectStampRally-detail-content {
  flex: 1;
}

.ProjectStampRally-detail-value {
  width: 295px;

  position: relative;

  padding-bottom: 3px;

  font-size: 15px;
  font-weight: 600;

  color: #3f4d6d;

  border-bottom: 2px solid rgba(134,167,255,.35);
}

.ProjectStampRally-detail-value::after {
  content: "//";

  position: absolute;

  right: -15px;
  bottom: -9px;

  color: rgba(134,167,255,.8);

  font-size: 16px;
  font-weight: 700;
}