/* ブース一覧 */
.Make-booth-list {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  margin-top: 20px;
  margin-bottom: 100px;
}

.Make-booth-item {
  width: 200px;
}

.Make-booth-card {
  background-color: #bebebe;
  padding: 15px 10px;
  text-align: center;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.Make-booth-image {
  width: 100%;
  height: 150px;
  background-color: #e3e3e3;
  border-radius: 5px;
  margin-bottom: 10px;
}

.Make-booth-label {
  font-size: 15px;
  color: white;
  margin: 0;
}
