.project_title{
    position: sticky;
    top: 72px; /* Headerの高さに合わせて調整 */
    z-index: 10;
    width: 80%;
    height: 48px;
    /* top: 60px; */
    left: 10%;
    margin: 0 auto 16px auto;
    background: linear-gradient(90deg, #4f8cff 0%, #3358e0 100%);
    border-radius: 50px;
    font-size: 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}