/* Game Corner */
.LaughMusic-gameCorner-list {
  width: 95%;              /* ← 追加 */
  margin: 20px auto 100px; /* ← 中央寄せ */
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
}


.LaughMusic-gameCorner-item {
  width: 200px;
}

.LaughMusic-gameCorner-card {
  background-color: #bebebe;
  padding: 15px 10px;
  text-align: center;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 5px;
}

.LaughMusic-gameCorner-image {
  width: 100%;
  height: 150px;
  background-color: #e3e3e3;
  border-radius: 5px;
  margin-bottom: 10px;
}

.LaughMusic-gameCorner-label {
  font-size: 15px;
  color: white;
  margin: 0;
}

.LaughMusic-gameCorner-title {
  text-align: center;
  font-weight: bold;
  margin-bottom: 10px;
}
