/* =========================
   全体
========================= */
.LaughMusicStageTT {
  background: #c6c5c5;
  border-radius: 12px;
  padding: 18px;
  margin: 0 auto 24px;
  max-width: 95%;
  width: 700px;
}

/* スクロール */
.LaughMusicStageTT-scroll-area {
  max-height: 500px;
  overflow-y: auto;
  padding-right: 8px;
}

.LaughMusicStageTT-wrapper {
  background: #f7f7f7;
  padding: 12px;
  border-radius: 12px;
}

/* =========================
   タイムスロット
========================= */
.LaughMusicStageTT-time-slot {
  list-style: none;
  padding: 0;
  margin: 0;
  position: relative;
}

.LaughMusicStageTT-time-slot::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 32px;
  bottom: 70px;
  width: 3px;
  background: #ccc;
}

.LaughMusicStageTT-time-slot-item {
  position: relative;
  padding: 16px 0 16px 32px;
  border-bottom: 1px solid #ddd;
}

.LaughMusicStageTT-time-slot-item::before {
  content: "";
  width: 18px;
  height: 18px;
  background: white;
  border: 3px solid #888;
  border-radius: 50%;
  position: absolute;
  left: 0;
  top: 22px;
}

/* =========================
   ヘッダー
========================= */
.LaughMusicStageTT-slot-header {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.LaughMusicStageTT-time {
  font-size: 14px;
  font-weight: bold;
}

/* イベント */
.LaughMusicStageTT-event {
  background: #cdcdcd;
  padding: 10px 14px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

/* 詳細 */
.LaughMusicStageTT-event-detail {
  margin-top: 10px;
  background: #e9e9e9;
  padding: 12px;
  border-radius: 8px;
}
