.carousel {
  width: 100%;
  overflow: hidden;
  padding: 60px 0;
  background: #f5f5f5;
  position: relative;
  margin-top: -10px;
  padding-top: 30px;
  z-index: 1;
}

.carousel-inner {
  display: flex;
}

.carousel-item {
  background: #ffffff;
  border-radius: 8px;
  padding: 45px;
  margin: 0 10px;
  box-shadow: 0 2px 5px #0003;
  flex-shrink: 0;
  width: 100%; /* 全幅にすることで1スライドずつ表示 */
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel-item img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

.indicator {
  position: absolute;
  bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.indicator .dot {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  box-shadow: 0 0 5px #0005;
  transition: background 0.3s;
  cursor: pointer;
}

.indicator .dot.active {
  background: #848484;
}
