/* タイトル1：h2（グランプリ） */
.Home-title1 {
  background-color: #999;
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin: 20px auto 10px;
  text-align: center;

  width: 95%;
  max-width: 300px;   /* PC時の上限 */
}

/* 説明文ボックス（h3） */
.Home-box1 {
  width: 95%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  background-color: #b3b3b3;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 10px;
}

/* タイトル2補足 */
.Home-title2 {
  background-color: #999;
  color: white;
  font-size: 18px;
  margin: 20px auto 10px;
}

/* 賞リスト外枠 */
.Home-box2 {
  width: 95%;
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #b3b3b3;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 60px;
}

/* 賞カード */
.Home-award-card {
  width: 100%;   /* 親（Home-box2）に合わせる */
  background-color: #eee;
  padding: 15px 20px;
  border-radius: 10px;
  margin-bottom: 15px;
}

/* 賞説明 */
.Home-award-desc {
  padding: 10px;
  color: #555;
}
