/* セクション全体 */
.notice-section {
  margin: 40px auto;
  text-align: center;
}

/* タイトル */
.title {
  background-color: #999;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;
  width: 300px;
  margin: 20px auto 10px;
}

/* 通知リストの外枠 */
.box3 {
  background-color: #b3b3b3;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  margin: 0 auto;
  max-width: 800px;
  max-height: 250px; /* スクロール対応 */
  overflow-y: auto;
}

/* 各通知項目 */
.notice-item {
  background-color: #f4f4f4;
  padding: 20px;
  border-radius: 5px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  transition: background-color 0.3s;
}

.notice-item:hover {
  background-color: #e0e0e0;
}


.notice-link {
  display: block;
  color: inherit;
  text-decoration: none;
  width: 100%;
  height: 100%;
}
