/* お知らせ：セクション全体 */
.Home-notice-section {
  margin: 30px auto;
  text-align: center;
}

/* リンク（li 全体クリック可能） */
.Home-notice-link {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}

/* お知らせ：リストボックス背景 */
.Home-box3 {
  background-color: #b3b3b3;
  padding: 20px;
  border-radius: 8px;

  width: 95%;
  max-width: 800px;
  margin: 0 auto;

  max-height: 210px;
  overflow-y: auto;
}

/* お知らせ：リスト項目 */
.Home-notice-item {
  background-color: #f4f4f4;
  padding: 13px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* お知らせ：ホバー */
.Home-notice-item:hover {
  background-color: #e0e0e0;
}

