/* タイトル */
.Home-title.Home-time_table {
  background-color: #999;
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
  display: inline-block;
  font-weight: bold;
  font-size: 20px;
  margin: 20px auto 10px;
  text-align: center;
  width: 300px;
}

/* 日付タイトル */
.Home-title.Home-time_table.Home-day-title {
  width: 160px;
  padding: 6px 20px;
  font-size: 18px;
  border-radius: 16px;
  margin: 16px auto 8px;
}

/* セクション全体 */
.Home-timetable-section {
  text-align: center;
}

/* テーブル外枠 */
.Home-box {
  width: 95%;
  max-width: 800px;      /* ← PC時の上限 */
  margin: 0 auto 20;
  padding: 20px;
  background-color: #b3b3b3;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-height: 600px;
  overflow-y: auto;
}


/* テーブル */
.Home-table {
  margin: 0 auto;
  width: 100%;
  border-collapse: collapse;
  background-color: #fff;
  table-layout: fixed;
}

/* セル */
.Home-table td,
.Home-table th {
  border: 5px solid #b3b3b3;
  padding: 7px;
  text-align: center;
}

/* 中央列（2列目）の枠線だけ消す */
.Home-table td:nth-child(2),
.Home-table th:nth-child(2) {
  border: none;
  background: transparent;
  padding: 0;
  width: 0;
}

/* 時間列 */
.Home-table td:first-child,
.Home-table th:first-child {
  width: 150px;
  background-color: #fff;
}

/* ヘッダー */
.Home-table th {
  background-color: #e0e0e0;
  font-weight: bold;
  font-size: 14px;
  border-bottom: 15px solid #b3b3b3;
}

/* 中央線 */
.Home-divider-cell {
  width: 1px;

  background-color: #8b8b8b;

  /* 中央線として使う線だけを作る */
  border-left: 1px solid #6c6c6c !important;
}


.Home-divider-cell.Home-divider-head {
  background-color: #b3b3b3;
}

.Home-divider-space {
  display: none;
}
