.notice-container {
  padding: 0px 20px;
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
}

.notice-title {
  background-color: #999;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  width: 300px;
  /* 中央揃え */
  margin: 70px auto 20px;
  text-align: center;
  display: block;
}

.notice-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.notice-input,
.notice-textarea {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.notice-textarea {
  min-height: 120px;
  resize: vertical;
}

.notice-button {
  padding: 12px;
  background-color: #666;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: 0.2s;
  width: 150px;

  display: block;
  margin: 0 auto; /* ← これで中央 */
}

.notice-button:hover {
  background-color: #444;
}

select.notice-input {
  cursor: pointer;
}