.Stage-Schedule-content {
  background: linear-gradient(
    180deg,
    #e9edff,
    #b9c4f1
  );

  padding: 16px;

  width: 95%;
  max-width: 800px;

  margin: 20px auto 100px;

  border-radius: 5px;
}

.StageSchedule-container {
  margin-bottom: 100px;
}

body {
  background: #ffffff;
}