
.background-box {
  background: #f4f5ff; /* ← 青紫寄りの白 */
  padding: 16px;

  width: 95%;
  max-width: 800px;
  margin: 20px auto 100px;

  border-radius: 20px;

  /* ふわっと浮く影 */
  box-shadow: 0 10px 25px rgba(100, 110, 255, 0.08);
}

.Project2-container {
  margin-bottom: 100px;
}