
.Dasstsu-synopsis-box {
  max-width: 95%;
  width: 700px;
  margin: 0 auto 100px auto;
  background: #e0e0e0;
  border-radius: 12px;
  min-height: 36px;
  padding: 8px 12px;
  color: #333;
  font-size: 1rem;
  box-sizing: border-box;
}
