.Dasstsu-project-title {
  width: 300px;
  margin: 70px auto 16px auto; /* ← 上に80pxの空間を追加 */
  background-color:  #999;
  border-radius: 30px;
  font-size: 2rem;
  text-align: center;
  padding: 12px 0;
  color: white;
  font-weight: bold;
}
