
.section-title{
  background-color: #999;
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
  display: block;
  font-weight: bold;
  font-size: 20px;
  margin: 20px auto 10px;
  text-align: center;
  width: 250px;
}


.description-box {
  width: 700px;
  margin: 0 auto 16px auto;
  background: #e0e0e0;
  border-radius: 12px;
  min-height: 36px;
  padding: 8px 12px;
  color: #333;
  font-size: 1rem;
}
