/* ===== FAQベース ===== */

/* 外枠 */
.faq-wrapper {
  padding: 0 16px;
}

/* タイトル */
.faq-box-title {
  background-color: #999;
  color: white;
  padding: 10px 40px;
  border-radius: 20px;
  font-weight: bold;
  font-size: 20px;
  width: 300px;

  margin: 80px auto 20px;
  text-align: center;
  display: block;

  font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;
}

/* コンテナ */
.faq-container {
  max-width: 600px;
  margin: 0 auto 300px auto;
  padding: 1.25rem;
  background-color: #d1d1d1;
  border-radius: 12px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);

  font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;
}