/* ===== FAQベース ===== */

/* タイトル */
.Question-Faq-title {
  position: absolute;

  top: 70px;
  left: 50%;

  transform: translateX(-50%);

  z-index: 5;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 260px;
  height: 47px;

  background: linear-gradient(
    90deg,
    #86a7ff,
    #6f8dff
  );

  color: #fff;

  font-size: 20px;
  font-weight: bold;

  border-radius: 10px;

  border: 2px solid rgba(255,255,255,0.55);

  box-shadow:
    0 8px 20px rgba(160,170,255,0.14),
    inset 0 2px 0 rgba(255,255,255,0.7),
    inset 0 -2px 0 rgba(255,255,255,0.55);

  overflow: hidden;
}

/* FAQ一覧 */
.Question-Faq-list {
  position: relative;

  z-index: 1;

  width: 400px;
  max-width: 600px;

  margin: 110px auto 90px;
  padding: 14px;

  display: flex;
  flex-direction: column;
  gap: 20px;

  background: #eaeeff;

  border: 3px solid #cad8ff;
  border-radius: 10px;
  box-shadow:
    0 8px 20px rgba(120, 140, 255, 0.12);

  font-family: "Hiragino Kaku Gothic ProN", "Noto Sans JP", sans-serif;

  isolation: isolate;
}


.Question-Faq-wrapper {
  position: relative;

  width: 100%;

  padding: 40px 16px;

  box-sizing: border-box;

  display: flex;
  justify-content: center;

  overflow: visible;

  isolation: isolate;
}

.Question-Faq-wrapper::before {
  content: "";

  position: absolute;

  top: 20px;
  left: 0;
  right: 0;
  bottom: 50px;

  background: #ffffff;

  border-bottom: 2px solid #bac4ff;

  z-index: -1;
}