.Stage-notice-section {
  margin: 80px auto 30px; /* ← 上だけ増やす */
  text-align: center;
  width: 100%;
}

/* タイトル */
.Stage-notice-title {
  background-color: #999;
  color: white;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 20px;

  width: 95%;
  max-width: 300px;   /* PC時上限 */
  margin: 20px auto 10px;
}

/* ボックス */
.Stage-notice-box {
  background-color: #b3b3b3;
  padding: 20px;
  border-radius: 8px;
  width: 95%;
  max-width: 800px;   /* PC時上限 */
  margin: 0 auto;
  max-height: 210px;
  overflow-y: auto;
}

/* リスト */
.Stage-notice-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* リスト項目 */
.Stage-notice-item {
  background-color: #f4f4f4;
  padding: 13px;
  border-radius: 5px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

/* ホバー */
.Stage-notice-item:hover {
  background-color: #e0e0e0;
}

/* リンク */
.Stage-notice-link {
  display: block;
  width: 100%;
  height: 100%;
  color: inherit;
  text-decoration: none;
}
